[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
pyinstaller = "*"
pytest = "*"
jsonschema = "*"
requests = "*"
pytest-html = "*"
coverage = "*"
pytest-cov = "*"
bs4 = "*"
lxml = "*"

[requires]
python_version = "3.7"
