[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
pyinstaller = "*"
pytest = "*"
jsonschema = "*"

[requires]
python_version = "3.7"
